<h1 class="titulo-consoles">Selecione uma plataforma:</h1>

<div class="games-container">
	<div routerLink="/top/xbox" class="console-container" id='xbox'>
   		 <button class="titulo-consoles">Xbox</button>
	</div>
	<div routerLink="/top/playstation" class="console-container" id='play' >
		<button class="titulo-consoles">PlayStation</button>
	</div>
	<div routerLink="/top/switch" class="console-container" id='switch'>
		<button class="titulo-consoles">Switch</button>
	</div>
	<div routerLink="/top/pc" class="console-container" id='pc'>
		<button class="titulo-consoles">PC</button>
	</div>
	
</div>
